.add-to-cookbook-modal-container {
  display: flex;
  width: 500px;
  padding: 24px;
}

.add-to-cookbook-modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.add-to-cookbook-modal-heading {
  margin: 0;
}

.add-to-cookbook-modal-recipes-grid {
  display: grid;
  grid: auto / repeat(auto-fill, 220px);
  gap: 8px;
  width: 100%;
}

.add-to-cookbook-modal-button {
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  width: 150px;
  height: 30px;
  color: white;
  background-color: lightcoral;
}
