.cookbook-details-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cookbook-details-heading {
  display: flex;
  justify-content: space-between;
}
.cookbook-details-name {
  margin: 0;
}
.cookbook-details-buttons-div {
  display: flex;
  gap: 4px;
}
.cookbook-details-button {
  display: flex;
  height: fit-content;
  padding: 4px 8px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: white;
  color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: 4px;
}
.cookbook-details-delete-button {
  background-color: white;
  color: darkred;
  border: 1px solid darkred;
}
