.user-recipes-grid-card-buttons-div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.user-recipes-grid-card-button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}
.user-recipes-grid-card-button-edit {
  background-color: lightcoral;
  color: white;
}
.user-recipes-grid-card-button-delete {
  border: 1px solid darkred;
  background-color: white;
  color: darkred;
}
