.home-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.home-search-container {
  display: flex;
  margin: auto;
  align-items: center;
}
.home-search-icon {
  padding: 9px;
  border: 1px solid lightgray;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.home-search-input {
  height: 36px;
  width: 600px;
  border: 1px solid lightgray;
  border-left: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 12px;
}

.home-partition-container {
  display: flex;
  flex-direction: row;
}

.home-filters-container {
  width: 30%;
  min-width: 200px;
  padding: 12px;
}

.home-tags-header {
  text-decoration: underline;
}
.home-tags-grid {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  border-radius: 4px;
}
.home-checkbox {
  display: flex;
  align-items: center;
}
.home-checkbox-label {
  font-size: 18px;
  padding: 4px;
}

.home-recipes-container {
  width: 100%;
}
