/* TODO: Add sitewide styles */

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.error {
  color: darkred;
  margin: 0;
}

.carousel .thumbs {
  justify-content: center;
  display: flex;
  padding: 0;
}
.carousel .thumbs-wrapper {
  margin: 0;
}
